<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGQ6UYensDdZrvoTsDdaJ5MIUG-MDrMWY</string>
	<key>GCM_SENDER_ID</key>
	<string>956896735970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth3</string>
	<key>PROJECT_ID</key>
	<string>fitflow2</string>
	<key>STORAGE_BUCKET</key>
	<string>fitflow2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956896735970:ios:d811e89385f2dc9a07e4bb</string>
</dict>
</plist>